# AGBC - df - Base for Studies AGBC

In [ ]:
Excel 

Carregando o arquivo - Deu Certo

Gov = pd.read_excel(r'C:\Users\Gil\Desktop\Novos_Dataset\Studies\Gov_Br.xlsx')

In [ ]:
Excel 

Carregando o arquivo - tambem Deu Certo

Gov = pd.ExcelFile(r'C:\Users\Gil\Desktop\Novos_Dataset\Studies\Gov_Br.xlsx')

print(Gov.sheet_names)

Excel

Lendo - tambem deu certo

arquivo = r'C:\Users\Gil\Desktop\Novos_Dataset\Studies\Gov_Br.xlsx'

xls = pd.ExcelFile(arquivo)

print(xls.sheet_names)

In [ ]:
Excel 

lendo a planilha especifica -- metodo parse

alunos = xls.parse('Nome da planilha no caso foi Alunos')

alunos.head(8)

In [ ]:
csv

lendo

f = open('ca-500.csv','r')

In [ ]:
csv 

lendo separado tabular

usuarios = pd.read_table('Users.txt', sep='|')

In [ ]:
txt

lendo separador tabular 

segundaleitura = pd.read_table('Users.txt', sep='|', header=None)

In [ ]:
txt

lendo txt separador largura fixa

nj = pd.read_fwf('LarguraFixa.txt')fixedwidth


# --- IMPORTANTE ---

# 1o Checar e Formatar Valores

# 2o Checar e Formatar Datas

# 3o Checar Textos

# COMEÇANDO

In [ ]:
import pandas as pd
import numpy as np

# instalando o xlrs se pedir 
pip install xlrd

#  Lendo DataSet

In [ ]:
csv

file = r'C:\Users\Gil\Desktop\Novos_Dataset\2017_Trecho.csv'

ou 

Trecho = pd.read_csv(file, header=0, encoding = 'latin-1', sep=';')

In [ ]:
Retirando os espacos 


file="C:\projetos\Diarias.csv"

Diarias = pd.read_table(file, header=0, encoding = 'latin-1', sep='\t')

Diarias.columns=Diarias.columns.str.replace(' ','_')

Diarias.columns

excel
Gov = pd.read_excel(r'C:\Users\Gil\Desktop\Novos_Dataset\Studies\Gov_Br.xlsx')



# -- trocando a posicao do encoding com header -- também ok

Diarias = pd.read_table(file, header=0, names=colunas_Diarias, encoding = 'latin-1', sep='\t')

Diarias.head(2)

# Criando o nome das Colunas

para achar o diretorio anaconda e como escrever

pwd  

'C:\\Projetos\\Studies'

# -- IMPORTANTE -- dtype é um dict = {:}¶

colunas_Viagem = ['Id','Proposta','Situação','Viagem_Urgente','Justif','Código_Supe','Órgão_Supe','Cod_Sol', 
                  'Nome_Sol','CPF','Nome','Cargo', 'Função','Descr_Função','Data_Ini','Data_Fim','Destinos',
                  'Motivo','Valor_Di','Valor_Pass','Devolução','Outros_Valores']

file = r'C:\Users\Gil\Desktop\Novos_Dataset\2017_Viagem.csv'

Viagem = pd.read_csv(file, encoding = 'latin-1', sep=';', header=0, names=colunas_Viagem,dtype={Data_Fim':datetime64})

# Viagem = pd.read_csv(file, encoding = 'latin-1', sep=';', header=0, names=colunas_Viagem,dtype={'Duração':'datetime64'})

In [ ]:
# o nome ficou muito grande e terá de refeito

colunas_Trecho = ["Id","Proposta","Trecho","Origem_Data","Origem_País","Origem_UF","Origem_Cidade","Destino_Data",
                  "Destino_País","Destino_UF","Destino_Cidade","Meio","Diárias","Missao"]

#  "Identificador do processo de viagem ";"Número da Proposta (PCDP)";"Sequência Trecho";"Origem - Data";
# "Origem - País";"Origem - UF";"Origem - Cidade";"Destino - Data";"Destino - País";"Destino - UF";
# "Destino - Cidade";"Meio de transporte";"Número Diárias";"Missao?"


file = r'C:\Users\Gil\Desktop\Novos_Dataset\2017_Trecho.csv'

Trecho = pd.read_csv(file, header=0, names=colunas_Trecho, encoding = 'latin-1', sep=';')

Trecho.columns

pd.to_datetime(Viagem['Duração'])

Viagem.Data_Ini.dt.components

Viagem.Data_Ini.days

(Viagem['Duração']): data, dtype: datetime64[ns]

Viagem.dtypes

In [ ]:
Trecho.head(5)

In [ ]:
Trecho.tail(5)

In [ ]:
Trecho.shape
# total 918512 linhas

In [ ]:
Trecho.dtypes

In [ ]:
# outras formas de corrigir erro codex -- testadas e deram certo --

# 1 file = r'C:\Users\Gil\Desktop\Dataset_Diarias\2017_Viagem.csv' -- a que foi usada --

# 2: file = 'C:/Users/Gil/Desktop/Dataset_Diarias/2017_Viagem.csv'

# 3 file = r'C:\\Users\\Gil\\Desktop\\Dataset_Diarias\\2017_Viagem.csv'

# Analise dos 3 passos a serem checados
# 1 - Datas
# 2 - Valores
# 3 - Duplicidade

# 

# 1o passo - Convertendo as Datas

In [ ]:
# Alterando a Data de Origem

Trecho.Origem_Data = pd.to_datetime(Trecho.Origem_Data,dayfirst = True)

In [ ]:
Trecho.Origem_Data.head(5)

# Como nao converti aparace os '/'
Viagem.Data_Fim.tail()

In [ ]:
# Alterando a Data de Destino

Trecho.Destino_Data = pd.to_datetime(Trecho.Destino_Data,dayfirst = True)

In [ ]:
# Como ja converti some as '/' e desaparece as ''

Trecho.Destino_Data.tail(5)

In [ ]:
# conferindo

Trecho.dtypes

In [ ]:
# NÂO Pode definir o Float na leitura -- o pd pq nao permite converter object to float --

# 1o troca ',' por '.' --  e depois converte to float --

# -- IMPORTANTE -- lembrandi que dtype é um dict  = {}

# IMPRIMINDO AS COLUNAS APENAS

Viagem.columns

In [ ]:
Trecho.index

# 2o Passo - Convertendo Valores - FLOAT

In [ ]:
# As Colunas:   'Diárias', 

# 1) tem que converter objet para inteiro (Int64) - trocando ','  por '.' 


# 2) converte para float com o astype

In [ ]:
# Convertendo valor para float - Valor_Di

Trecho['Diárias'] = Trecho.Diárias.str.replace(',','.').astype(float)

In [ ]:
# Conferindo

    
Trecho.dtypes

# Criando nova coluna - Duração -

# -- IMPORTANTE -- dtype é um dict = {}¶
# colunas_Viagem = [''.''] 
# file=".....csv" 
Trecho = pd.read_table(file, encoding = 'latin-1', sep='\t', header=0, names=colunas_Viagem,dtype={'Duração':datetime})

In [ ]:
# Viagem['Duração'] == dtype{datetime64}
# Viagem['Duração'].dtype{datetime64}
# Viagem.Duração = Viagem.Duração.astype(datetime64[ns])

In [ ]:
# Trecho['Duração'].astype()

In [ ]:
Trecho['Origem_Data'].astype

In [ ]:
Trecho['Destino_Data'].astype

In [ ]:
Trecho['Duração'] = Trecho['Destino_Data'] - Trecho['Origem_Data']

In [ ]:
# conferindo
Trecho.dtypes
# ficou timedelta

# Verificando se há Duplicidade

In [ ]:
Trecho.duplicated().sum()
# Nao há

# Iniciando a Análise

In [ ]:
Trecho.describe

In [ ]:
# Valores 

Trecho.describe(include='float')

# Valores - outro Comando com os []


Viagem.describe(include=['float'])
# MESMO RESULTADO

In [ ]:
# Datas 
# Não entendi pq nao aparececeu a coluna nova -- duração -- 

Trecho.describe(include='datetime')

In [ ]:
# Datas - mesmo resultado com os []
# Não entendi pq nao aparececeu a coluna nova -- duração -- 

Trecho.describe(include=['datetime64'])

In [ ]:
# Tudo -- IMPORTANTE -- USAR o all


Trecho.describe(include='all')

In [ ]:
Trecho

# Descobrindo quantas foram a serviço

In [ ]:
Trecho.shape

In [ ]:
Trecho['Missao'].str.contains('Não').sum()

# 984.559 nâo foram a serviço cerca de 50,2%

In [ ]:
Trecho['Missao'].str.contains('Sim').sum()

# 976.404 nâo foram a serviço - ok. A soma confere com o totl de linhas

In [ ]:
Trecho['Missao'] == ('Sim')

In [ ]:
Trecho['Missao'] == ('Não')

In [ ]:
len(Trecho[Trecho.Missao == 'Não'])

# Foram ao todo 23.980

# Novo df - Excluindo as Viagens Nao realizadas -

# Viagem1 = Viagem[Viagem.Situação == 'Realizada']

Viagem1.head(5)

Viagem1.shape
# = 894.532 - confere - ok

# Calculando a Media da Duração

In [ ]:
Trecho.Duração.mean()
# coincide com oresultado do describe all

In [ ]:
Trecho.Duração.head(10)

In [ ]:
Trecho.Duração.tail(10)

# Verificando os Meios

In [ ]:
Trecho.Meio!=('Aéreo')

# Trecho.Meio.astype

In [ ]:
Trecho.Meio.value_counts()

In [ ]:
Trecho[Trecho.Meio == 'Marítimo'].head(10)

In [ ]:
Trecho[Trecho.Meio == 'Marítimo'].tail(10)

In [ ]:
Trecho[Trecho.Meio == 'Inválido'].head(10)

In [ ]:
Trecho[Trecho.Meio == 'Ferroviário'].head(10)

# Criando df Trecho1 - retirando varias columns

In [ ]:
Trecho

In [ ]:
# Criando Novo Dataset 

Trecho1 = Trecho.drop(['Id','Proposta','Trecho','Origem_UF','Destino_UF'],axis=1)


Trecho1.head(5)
# ficaram as colunas: (['Origem_Data','Origem_País','Origem_Cidade','Destino_Data','Destino_País','Destino_Cidade','Meio','Diárias','Missao','Duração'])

In [ ]:
Trecho1.tail(5)

# Revisão dos comandos para Data  .dt -

In [ ]:
# Para Dias 

Trecho.Origem_Data.dt.month_name().tail()
# Trecho.Origem_Data.dt.week

In [ ]:
# Para Semana --


Trecho.Origem_Data.dt.week.head(15)

In [ ]:
# Para dias da Semana 
# 2a feira é 0, 3a f = 1, 4a f = 2, etc

Trecho.Destino_Data.dt.weekday.tail(10)

In [ ]:
# para checar nome do dia da semana


Trecho.Origem_Data.dt.day_name().tail(10)

In [ ]:
# Para MES 

Trecho.Origem_Data.dt.month_name().head(10)

In [ ]:
Trecho.Destino_Data.dt.month_name().tail(10)

In [ ]:
# Para MES


Trecho.Origem_Data.dt.month
#.tail(10)
# NAo tem ()

In [ ]:
# Dia do Ano


Trecho.Origem_Data.dt.dayofyear
# .tail(5)
# NAo tem ()

In [ ]:
# Dia de hoje


a = pd.Series(pd.to_datetime('today'))
a

In [ ]:
# percentagem de hoje para o ano todo


a.dt.dayofyear / 365
# = 0,02%

In [ ]:
# Trimestre 


Trecho['Origem_Data'].dt.quarter.head(5)

# Para arredondar
# usando day = today -- a = pd.Series(pd.to_datetime('today'))


a.dt.round(freq='min')
# outros parâmetros 
# freq = s = seg, minutos = min, dia = d, h = hora, day = d
# Nao ser pzra MES e nem ANO -- obiviamente --

# Criando -- df --  Fev

# Identificando Apenas Mes de Fevereiro como Data_Ini


Diarias_Vg[Diarias_Vg['Data_Ini'].dt.month == 2]

# Criando Data Frame

Diarias_Fev = Diarias_Vg[Diarias_Vg['Data_Ini'].dt.month == 2]

Diarias_Fev.head(5)

Diarias_Fev.tail(5)

Diarias_Fev.Data_Ini.head(5)

Diarias_Fev.Data_Fim.tail(5)

Diarias_Fev.shape
# Sao 48.500 registros

# Localizando linhas com todas as colunas


Diarias_Fev.loc[2:7 ,:]

# Para mostrar as ultimas linhas de todas as colunas -- COM INDEX -- 


Diarias_Fev.loc[ 915810:,:]

Diarias_Fev.dtypes

# Analisando a Duração

In [ ]:
Trecho1.dtypes

In [ ]:
Trecho.Duração.sort_index()

In [ ]:
Trecho.Duração.value_counts().sort_values()

In [ ]:
len(Trecho.Duração.value_counts())

# 341 dias diferentes

# df para meses



# Diarias_Vg[Diarias_Vg.Data_Ini==Diarias_Vg.Data_Ini.dt.month].apply

# Diarias_Vg['Mes_Ini'] = Diarias_Vg[Diarias_Vg.Data_Ini]==Diarias_Vg.Data_Ini.dt.month.apply

# Diarias_Vg['Mes'] = Diarias_Vg[Diarias_Vg.Data_Ini]==Diarias_Vg.Data_Ini.dt.month
                                   
Diarias_Vg['Mes'] = Diarias_Vg[Diarias_Vg.Data_Ini]=='2'
    
# Diarias_Vg.Data_Ini.dt.month                              
                                   
# Viagem.Data_Ini = pd.to_datetime(Viagem.Data_Ini,dayfirst = True) 
# .astype(datetime)
#  timedelta64[ns]

def Mes (m):
    if m =='y/01/d':
        return '01'
    if m =='y/02/d':
        return '02'
    if m =='y/03/d':
        return '03'
    if m =='%y/04/%d':
        return '04'
    if m == '%y/05/%d':
        return '05'
    if m =='%y/06/%d':
        return '06'
    if m =='%y/07/%d':
        return '07'
    if m =='%y/08/%d':
        return '08'
    if m =='%y/09/%d':
        return '09'
    if m =='%y/10/%d':
        return '10'
    if m =='%y/11/%d':
        return '11'
    if m =='%y/12/%d':
        return '12'

Trecho1['Mes'] = Trecho1['Origem_Data'].apply(Mes)


# dtype={'Duração':datetime})

Trecho1

Diarias_Vg['Mes'] = Diarias_Vg['Data_Ini'].apply(Mes)


# .dtype={'Mes':int}

Diarias_Vg.head(5)

pd.to_datetime(Diarias_Vg['Mes_Ini']).apply(pd.Timestamp)
# pd.to_datetime(Diarias_Vg['Mes_Ini']).apply(pd.Timestamp)
# Diarias_Vg['Mes_Ini'].astype(datetime64)

# Diarias_Vg['Mes_Ini'].astype(datetime64)

Diarias_Vg.dtypes

Viagem.Mes = Viagem.Mes.astype(float)
# Viagem.Valor_Pass = Viagem.Valor_Pass.str.replace(',','.').astype(float)

Diarias_Mes.head()

Diarias_Mes.shape

# Revendo as Estatisticas

In [ ]:
Trecho1.describe(include='all')
# A media passou de 4 para 6 dias

Trecho1.Duração.mean()
# A media passou para 1 dias

# Analisando as Quantidades de Diarias

In [ ]:
# Ordenando o Data Frame por menores valores -- DECRESCENTE --

Trecho1.sort_values('Diárias',ascending=False).head(15)

In [ ]:
Trecho1.Diárias.value_counts

In [ ]:
# agrupando pelo Nr de diarias
Trecho1.Diárias.sort_values().value_counts()

In [ ]:
# Contando o df
len(Trecho1.Diárias.value_counts())

# 390 valores diferentes - confere com a Info acima

In [ ]:
# Ordenando o Data Frame por MAIORES valores -- CRESCENTE --


Trecho1.sort_values('Diárias',ascending=True).head(5) 
# Ja tinha feito decrescente

In [ ]:
Trecho1.sort_values('Diárias',ascending=False).head(25)

# Essa duração não te mdiarias por isso nao está no df acima 
diferente Trecho1.Duração.max()
# 536 dias

# Verificando a maior duracao

In [ ]:
Trecho1[Trecho1.Duração == '536 days']
# Timedelta '536 days

In [ ]:
Trecho.loc[486702,:]

In [ ]:
Trecho1.sort_values('Duração', ascending=False).head(25)
# conclusao as maiores duracoes nao tem pagamento de Diarias e sao - missao -

# Analise para Criar df com maiores Diarias

In [ ]:
len(Trecho1[Trecho1.Diárias >= 100])
# 2.071 registros com mais de 100 Di

In [ ]:
len(Trecho1[Trecho1.Diárias >= 200])
# 307 registros com mais de 200 Di

In [ ]:
len(Trecho1[Trecho1.Diárias >= 300])
# 63 registros com mais de 300 Di

In [ ]:
# Fazendo a ordenacao por mais de 100 Diarias -- com List Comprehension --
# ordenando por index 

Trecho1[Trecho1.Diárias >= 100].sort_index().tail(15)

# vendo as diarias > R$ 50.000
# estao listadas todos com valores e a respectiva soma 


Diarias_Vg[Diarias_Vg.Valor_Di >= 50000].sum()
# SOMA de quem ganhou mais de R$ 10.000 = R $ 152.597.075,69

# Total de Pessoas que ganhou mais de R$ 50.000


len(Diarias_Vg[Diarias_Vg.Valor_Di >= 50000])
# 2.248 pessoas

# Aplicando o Value_counts para contar as ocorrencias
# Outra forma de Conferir


Diarias_Vg[Diarias_Vg.Valor_Di >= 50000].value_counts()
# sao  2.248 ocorrencias

In [ ]:
# Aplicando o Value_counts para ver as ocorrencias
# Para ver as 10 primeiras ocorrencias

Trecho[Trecho.Diárias >= 100].value_counts().head(5)

# Criando df Diarias_Altas

In [ ]:
Diarias_Altas = Trecho1[Trecho1.Diárias >= 100]

In [ ]:
Diarias_Altas

In [ ]:
Diarias_Altas.columns

In [ ]:
Diarias_Altas.shape
# Sao 2.071 ocorrencias

In [ ]:
# ver a media da duração
Diarias_Altas.Duração.mean()
# passou de 154 dias

# Revendo as Estatisticas

In [ ]:
Diarias_Altas.describe(include='all')

In [ ]:
# para ver a estatistica de Valores

Diarias_Altas.describe(include='float')

In [ ]:
Diarias_Altas.describe(include='timedelta64[ns]')

# nao entendi pq nao apareceu a Duração

In [ ]:
Diarias_Altas.describe(include='datetime64')

pd.to_datetime(Diarias_Altas['Duração'],format='%y/%m/%d')

In [ ]:
Diarias_Altas.dtypes

In [ ]:
Diarias_Altas.describe

# Busca de Alvos

# Localizando Miguel Paiva

Diarias_Vg[Diarias_Vg.Nome == 'TOMAS MIGUEL MINE RIBEIRO PAIVA'].head(12)

Viagem[Viagem.Nome == 'CHARLES ROBERTO MARTINS DA SILVA'].head(10)

Viagem.loc[916,:]

# Ordenando por valor mais alta > $ 50.000

Diarias_Altas.sort_values('Valor_Di',ascending=False).head(5)

Viagem.loc[967,:]

Viagem.loc[80770,:]

Viagem.loc[2316,:]

# Ordenando por valor mais baixa > $50.000

Diarias_Altas.sort_values('Valor_Di',ascending=True).head(5)

# Repetindo o calculo da media das diarias

Diarias_Altas.Valor_Di.mean()
# a media é de R$ 67.881

# Reshaping pelo Valor_Di

# Usando o Apply -- no Data Frame Diarias_Fev_Altas -- 

# Criando outra coluna -- Valores --

def Valores (a):
    if a >= 50000:
        return 'Valores Muito Altos'
    if 30000 <= a <= 50000:
        return 'Valores Bem Altos'
    else:
        return 'Valores Medianos'

Diarias_Altas['Valores'] = Diarias_Altas['Valor_Di'].apply(Valores)

In [ ]:
Diarias_Altas.head(5)

In [ ]:
Diarias_Altas.describe(include='all')

In [ ]:
Diarias_Altas.astype

In [ ]:
Diarias_Altas.dtypes

# Verificando se tem Duplicidade

Viagem.duplicated().sum()
# Nao há

In [ ]:
Diarias_Altas.sort_values('Duração',ascending=False).head(5)

In [ ]:
Trecho1.sort_values('Duração',ascending=False).head(5)

In [ ]:
Trecho1.sort_values('Duração',ascending=False).head(15)

# mais de 1 ano em MIAMI 
Diarias_Vg.loc[562026,:]

In [ ]:
Diarias_Altas.dtypes

In [ ]:
# Mais estatisticas
Diarias_Altas.describe

In [ ]:
Diarias_Altas.describe(include='all')

# vendo os duplicate da duração 
Diarias_Altas['Duração'].duplicated

Diarias_Altas.Duração

# Fazendo 1o Grafico

# Ver colunas Diarias, Duracao, Missao (split), Origem e Destino Fora do Pais ou nao

In [ ]:
# import matplotlib.pyplot as plt

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
%matplotlib inline

In [ ]:
Diarias_Altas.Duração.value_counts().sort_index().tail(15)

In [ ]:
Diarias_Altas.Duração.value_counts().sort_values()

In [ ]:
# Ordeando pelas maiores ocorrencias de Diarias Altas (>100)

Diarias_Altas.Duração.sort_values().value_counts()

In [ ]:
Diarias_Altas.Duração.value_counts().sort_index().head(15)

In [ ]:
Def = Diarias_Altas.Duração.value_counts().sort_index()
# Def = Diarias_Altas.Duração.sort_values().value_counts()

In [ ]:
Def.plot()
# plot.show()

In [ ]:
Diarias_Altas

In [ ]:
Diarias_Altas.Origem_Data.sort_values().head(10)

Diarias_Altas[Diárias][Origem_Data].head()
#.sort_values()

In [ ]:
# Diarias_Altas.Duração.value_counts().sort_index().plot

In [ ]:
# Outra Tentativa

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# Sao diferentes - esse ordena a duração pelos maiores valores

In [ ]:
# Sao diferentes - esse ordena a duracao pelos maiors valores

Diarias_Altas.Duração.sort_index().value_counts().head(15)

# Aqui ele ordena a duracao primeiro e depois conta os valores

In [ ]:
# Aqui ele ordena a duracao primeiro e depois conta os valores

Diarias_Altas.Duração.value_counts().sort_index().head(15)

In [ ]:
Def_1 = Diarias_Altas.Duração.value_counts().sort_index()

In [ ]:
Def_1.plot()
# plot.show()

ts= pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.plot()
plt.show()

Viagem.Duração.value_counts().sort_index().plot

import matplotlib.pyplot as plt

# Plotar por meses

Diarias_Altas.head()

Diarias_Altas.Data_Fim.dt.month_name().head(10)

In [ ]:
Diarias_Altas.Origem_Data.dt.month.tail(5)

In [ ]:
# Diarias_Altas.sort_values('Origem_Data', ascending=False)


Diarias_Altas.sort_values('Origem_Data',ascending=True)

Def_2 = Diarias_Altas.sort_values('Origem_Data',ascending=True)

Def_2.plot()
# muito grande para converter

# Pivotiar

In [ ]:
Diarias_Altas1 = Diarias_Altas.sort_values('Origem_Data',ascending=True)

In [ ]:
Diarias_Altas1.shape

In [ ]:
Diarias_Altas1.head(10)

In [ ]:
Diarias_Altas1.tail(15)

In [ ]:
Diarias_Altas2 = Diarias_Altas1.pivot_table(values='Origem_Data',index='Diárias',columns='Duração')
# Diarias_Altas2 = Diarias_Altas1.pivot_table(values='dt.month.Data_Ini',index='Valor_Di',columns='Duração')
# Diarias_Altas2 = Diarias_Altas1.pivot_table(values='Destinos',index='Valor_Di',columns='Duração')
# Diarias_Altas2 = Diarias_Altas1.pivot_table(values='Duração',index='Valor_Di',columns='Destinos')

In [ ]:
Diarias_Altas2

In [ ]:
Diarias_Altas.shape

In [ ]:
Diarias_Altas.head(10)

In [ ]:
Teste = Diarias_Altas2.value_counts().sort_index()
# Diarias_Vg.head(10)

Teste.plot()

# 1o a usar é o Seaborn

In [ ]:
import seaborn as sb

In [ ]:
type(Trecho)

In [ ]:
type(Trecho1)

In [ ]:
type(Diarias_Altas)

Trecho[Trecho.Meio].value_counts().head(5)

# Pairplot
# Nao saiu como esperado

trecho = sb.load_dataset('Trecho')
trecho.head(5)

sb.pairplot(trecho)

sb.pairplot(Diarias_Altas,hue= 'Meio')

In [ ]:
# sb.pairplot(Diarias_Altas,hue= 'Diárias')

In [ ]:
sb.pairplot(Diarias_Altas,hue= 'Missao')

In [ ]:
sb.pairplot(Diarias_Altas,hue= 'Duração')

In [ ]:
sb.pairplot(Diarias_Altas)

In [ ]:
sb.pairplot(Diarias_Altas, hue='Meio')

sb.pairplot(Diarias_Altas, hue='Diárias')

In [ ]:
sb.pairplot(Diarias_Altas, hue='Missao')

In [ ]:
sb.pairplot(Diarias_Altas, hue='Duração')

In [ ]:
sb.pairplot(Trecho1, hue='Meio')

sb.pairplot(Trecho1, hue='Diárias')

In [ ]:
sb.pairplot(Trecho1, hue='Missao')

In [ ]:
sb.pairplot(Trecho1, hue='Duração')

In [ ]:
sb.pairplot(Trecho1)

In [ ]:
sb.pairplot(Trecho1)

In [ ]:
sb.pairplot(Diarias_Altas, hue='Meio')

sb.pairplot(Diarias_Altas, hue='Diárias')

In [ ]:
sb.pairplot(Diarias_Altas, hue='Missao')

In [ ]:
sb.pairplot(Diarias_Altas, hue='Duração')

# COUNTPLOT - para dados nâo categoricos com hue

In [ ]:
Diarias_Altas.columns

In [ ]:
sb.countplot(x = 'Meio',data=Diarias_Altas)

In [ ]:
sb.countplot(x = 'Diárias',data=Diarias_Altas)

In [ ]:
sb.countplot(x = 'Missao',data=Diarias_Altas)

In [ ]:
sb.countplot(x = 'Duração',data=Diarias_Altas)

In [ ]:
sb.countplot(x = 'Meio',data=Trecho1)

In [ ]:
sb.countplot(x = 'Missao',data=Trecho1)

# BOXPLOT - Divide em quartis

In [ ]:
Diarias_Altas.head(3)

sb.boxplot(x='Diárias', y= 'Duração', data = Diarias_Altas)

sb.boxplot(x='Missao', y= 'Duração', data = Diarias_Altas)
# missao tem que ser numerica

sb.boxplot(x='Duração', y= 'Diárias', data = Diarias_Altas)

sb.boxplot(x='Meio', y= 'Duração', data = Diarias_Altas, hue = 'Missao')

sb.boxplot(x='Duração', y= 'Meio', data = Diarias_Altas, hue = 'Missao')
# Duracao e Meio nao sao numericad

In [ ]:
sb.boxplot(x='Meio', y= 'Diárias', data = Diarias_Altas, palette = 'PRGn')
# com paletta de cor diferente

In [ ]:
sb.boxplot(x='Meio', y= 'Diárias', data = Diarias_Altas, hue = 'Missao')

In [ ]:
sb.boxplot(y='Diárias', x= 'Meio', data = Diarias_Altas, palette = 'PRGn', hue = 'Missao')

sb.boxplot(x='Meio', y= 'Diárias', data = Trecho1, hue = 'Missao')

sb.boxplot(x='Diárias', y= 'Meio', data = Diarias_Altas, hue = 'Missao')

# VIOLIN PLOT - Grafico de Frequencia

In [ ]:
sb.violinplot(x='Meio', y= 'Diárias', data = Diarias_Altas, palette = 'PRGn')

# o ponto branco e a media

In [ ]:
sb.violinplot(x='Meio', y= 'Diárias', data = Diarias_Altas, palette = 'PRGn', hue = 'Missao')

# o ponto branco e a media

In [ ]:
# Refinando o grafico - Dividindo por Missao

sb.violinplot(x='Meio', y= 'Diárias', data = Diarias_Altas, palette = 'PRGn', hue = 'Missao', split= True)

sb.violinplot(x='Meio', y= 'Missao', data = Diarias_Altas) 


# Neither the `x` nor `y` variable appears to be numeric.

# hue = 'Missao'

sb.violinplot(x='Diárias', y= 'Duração', data = Diarias_Altas)

# SPLIT PLOT - Nao precisa ser numerico

In [ ]:
sb.stripplot(x = 'Meio', y = 'Diárias', data = Diarias_Altas)
    
#    x='Meio', y= 'Diárias', data = Diarias_Altas, palette = 'PRGn', hue = 'Missao', split= True))

In [ ]:
sb.stripplot(x='Meio', y= 'Diárias', data = Diarias_Altas, palette = 'PRGn', hue = 'Missao')

Função jitter

sb.stripplot(x='Meio', y= 'Diárias', data = Diarias_Altas, jitter = True)
# Nao funcionou

# SWARTPLOT - Enxame

In [ ]:
sb.swarmplot(x = 'Meio', y = 'Diárias', data = Diarias_Altas)

# Plotando 2 Graficos na mesma Celula

In [ ]:
sb.swarmplot(x = 'Meio', y = 'Diárias', data = Diarias_Altas, color = 'black')

sb.violinplot(x='Meio', y= 'Diárias', data = Diarias_Altas)

In [ ]:
# Com preto e paletta 

sb.swarmplot(x = 'Meio', y = 'Diárias', data = Diarias_Altas, color = 'black')

sb.violinplot(x='Meio', y= 'Diárias', data = Diarias_Altas, palette = 'PRGn')

# Visualizando Correlação

In [ ]:
correlacao = Trecho.corr()
correlacao
# Quanto mais perto de mais correlacao tem - ele arace com o pairplot
# neste caso a correlacao e muita fraca como um TODO

In [ ]:
correlacao1 = Trecho1.corr()
correlacao1

In [ ]:
correlacao2 = Diarias_Altas.corr()
correlacao2

# Heatmap - Mapa Quente

In [ ]:
sb.heatmap(correlacao, annot = True)

In [ ]:
sb.heatmap(correlacao1, annot = True)

In [ ]:
sb.heatmap(correlacao2, annot = True)

sb.heatmap(Trecho)

In [ ]:
sb.heatmap(Diarias_Altas2)

# Cluster Map

In [ ]:
sb.clustermap(Trecho)

In [ ]:
Diarias_Altas

# lmplot

In [ ]:
sb.lmplot(x = 'Meio', y = 'Diárias', data = Trecho, hue = 'Missao')
# sb.lmplot(x = 'Meio', y = 'Diárias', data = Diarias_Altas, hue = 'Missao')

In [ ]:
sb.lmplot(x = 'Meio', y = 'Diárias', data = Trecho, hue = 'Missao', col = 'Missao')
# sb.lmplot(x = 'Meio', y = 'Diárias', data = Diarias_Altas, hue = 'Missao', col = 'Missao')